<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
{% load static %}
{% block nhap %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div class="container mt-5">
            <h2 class="text-center mb-4">NHÁP</h2>
            <form method="POST" action="">
                {% csrf_token %}
                {{ form.as_p }}
        
                {% comment %} <div class="mb-3">
                    <label class="form-label" for="username">Tài Khoản</label>
                    <input type="text" id="username" name="username" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Mật Khẩu</label>
                    <input type="password" id="password" name="password" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password2">Nhập Lại Mật Khẩu</label>
                    <input type="password" id="password2" name="password2" class="form-control" required>
                </div>
                <div class="row mb-4">
                    <div class="col d-flex align-items-center">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="rememberMe" name="rememberMe">
                            <label class="form-check-label" for="rememberMe">Nhớ đăng nhập</label>
                        </div>
                    </div>
                </div> {% endcomment %}
                <button type="submit" class="btn btn-primary btn-block mb-4">Đăng Ký</button>
            </form>
        </div>
        <script src="" async defer></script>
    </body>
</html>
{% endblock nhap %}